<h3>Have a new Pet</h3>
<div class="panel panel-default"> 
	<div class="panel-heading"> 
		Create new Pet
	</div> 
	<div class="panel-body"> 
		<form>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Name</span>
					<input type="text" class="form-control pet-name" placeholder="Pet Name">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1">Status</span>
					<input type="text" class="form-control pet-status" placeholder="Pet Status">
				</div>
			</div>
			<div>
				<button type="button" class="btn btn-default btn-lg create">Create</button>
			</div>
		</form>
	</div>
</div>
