<td class="pet-name">{{name}}</td>
<td class="pet-status">{{status}}</td>
<td>
    <button type="button" class="btn btn-info edit">Edit</button>
    <button type="button" class="btn btn-danger delete">Delete</button>
</td>